/* common font style  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* common style */
*{
    box-sizing: border-box;
    padding: 0;
    /* margin: 0; */
    font-family:"Inter", sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}
.title-fonts{
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  font-weight: bold;
  font-style: normal;
}
.common-color{
    color: #E95A08;
}
.text-common{
    color: rgba(0, 0, 0, 0.5);
}
 /* Navbar Styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    /* margin-top: 20px;
    margin-left: 100px; */
}
.nav-links{
    display: flex;
}

.nav-links li{
    list-style: none;
     /* margin-top: 20px; */
    margin-right: 48px;
}
.nav-links a{
    text-decoration: none;
   
}
#home{
    color: #252432;
}
#shop{
    color: #8987A1;
}
#about-us{
    color: #8987A1;
}
#cart{
    color: #000000;
}

/* banner styles */
.banner{
    display: flex;
    justify-content:center;
    align-items: center;
    margin:50px;
}
.banner-content{
 /* margin: 150px; */
 margin-top: 20px;
 margin-right: 50px;
}
.banner-title{
  margin-top:10px;
  margin-bottom:10px;
}
.banner-img{
    /* margin: 150px; */
}
.title-span{
    color: #E95A08;
}
.banner-description{
    color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-right: 100px;
}
/* our plants section  styles*/
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.card{
    text-align: center;
    margin: 10px 20px;
}
.our-plant-content{
    text-align: center;

}
.card-title{
    margin-top: 10px;
}
.our-plant-description{
    margin-bottom:  10px;
}
.our-plant-title{
    font-family: "Noto Serif", serif;
    font-size: 3rem;
    font-weight: bold;
}
.card-btn{
    background-color: #E95A08;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
   
}
/* Flower & Plants Lover section */
.plants-lover-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
    margin:100px 50px;
}
.plants-title{
    font-family: "Noto Serif", serif;
    font-size: 3rem;
    font-weight: bold;
}
.plants-unorder li{
     color: rgba(0, 0, 0, 0.5);
     margin: 50px;
}
.flower-worker{
   width: 100%;
}
.trusted-badge{
    height: 200px;
    width: 200px;
    margin-left: 40%;
    margin-bottom: -13%;
}
/* Latest Deals Section  */
.latest-deals-content{
    text-align: center;
}
.latest-title{
    font-family: "Noto Serif", serif;
    font-size: 3rem;
    font-weight: bold;
}
.latest-img-card{
    margin-inline-start: -350px;
    margin-bottom: 50px;
}
.img-content-1{
    background-image: url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 350px;
    border-radius:12px;
}

.img-content-2{
    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 350px;
    border-radius:12px;
    margin-top: -20px;
}
.img-content-title{
    font-family: "Noto Serif", serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
    padding-top: 60px;
}
.img-content-subtitle{
    font-size: 1rem;
    font-weight:600;
    color: #FFFFFF;
    text-decoration: underline;
    text-align: center;
    padding-top: 10px;
}
.latest-img-content{
    margin-left: 38%;
    margin-top: -38%;
    margin-bottom: 50px;
}
.img-content-3{
    background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    height: 435px;
    width: 710px;
    border-radius: 20px;
}
.img-content-title3{
    font-family: "Noto Serif", serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
    padding-top: 130px;
}
.img-content-subtitle3{
    font-size: 1.8rem;
    font-weight:500;
    color: #FFFFFF;
    text-decoration: underline;
    text-align: center;
    padding-top: 10px;
}
 
/* Join Brunch Section */
.join-section{
    background-image: url(../assets/news-letter-bg.png);
    width: 1240px;
    height: 300px;
    margin: 0 auto;
}
.join-brunch{
    
}
.join-brunch-title{
    font-family: "Noto Serif", serif;
    font-size: 3rem;
    font-weight: bold;  
    color: #FFFFFF;
    text-align: center;
    padding-top: 130px;
}
.input-btn{
   text-align: center;
   width: 550px;
   height: 40px;
   margin-left: 23%;

}

.subscribe-btn{
    background-color: #E95A08;
    color: #FFFFFF;
    border: none;
    padding: 12px 24px;
    margin-top: 15px;
    /* margin-left: 100px; */
}

/* footer section */
.footer{
    
}
.footer-logo-img{

    margin-top: 50px;
    margin-left: 40px;
}
.footer-logo-descrip{
    margin: 20px 40px;
}
 /* footer text  */
 .footer-text{
 }
.footer-text-item1 ul li{
    list-style: none;
    margin: 20px;
}
.footer-text-item1 ul li a{
    text-decoration: none;
    color: grey;
}

.footer-text-item2 ul li{
    list-style: none;
    margin: 20px;
}
.footer-text-item2 ul li a{
    text-decoration: none;
    color: grey;
}
.footer-icon img{

   margin: 10px;
}
/* Laptop/ tablet */
@media (max-width:992px) {
    .navbar{
        width: 100%;
        margin: 24px 100px;
    }
}

/* Mobile device */
@media (max-width:768px) {
.navbar{
    width: 100%;
    margin: 10px;
}
.nav-links #home, #shop, #about-us{
    visibility: hidden;
}
.banner{
    flex-direction: column;
    flex-direction: column-reverse;
}
.banner-img{
    width: 100%;
   margin: 0 auto;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.plants-lover-container{
    flex-direction: column;
}

}